---
import { Font } from "astro:assets";
import { ClientRouter } from "astro:transitions";
import Theme from "../components/Theme.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";

interface Props {
  title: string;
  description?: string;
  hasSidebar?: boolean;
}

const { title, description, hasSidebar = false } = Astro.props as Props;
const currentPath = new URL(Astro.request.url).pathname;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} — @saeris/markdown</title>
    {description && <meta name="description" content={description} />}
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <Font cssVariable="--font-mona-sans" preload />
    <Font cssVariable="--font-monaspace-neon" preload />
    <Font cssVariable="--font-monaspace-argon" />
    <Font cssVariable="--font-monaspace-krypton" />
    <Font cssVariable="--font-monaspace-xenon" />
    <Font cssVariable="--font-monaspace-radon" />
    <slot name="head" />
    <Theme />
    <ClientRouter />
  </head>
  <body>
    <Header currentPath={currentPath} hasSidebar={hasSidebar} />
    <slot />
  </body>
</html>
